@{
  Layout = "_Layout";
}

<h2>Get your chat on you two!</h2>
<div id = "outerMessageSpace" class="outerMessageSpace shadow large">
  <div id="messageSpace">
    @Html.Partial("_Partial")
  </div>
</div>
  </br>
  <form action="Details" method="POST" >
    <input name = "msg" id = "msg" type = "text" autofocus>
    <input type = "submit" value="SEND IT I DARE YOU! Coward">
    <input type="hidden" name="idtest" id = "idtest" value=@ViewBag.OtherId>
    <input type="hidden" name="metest" id = "metest" value =@ViewBag.myId>
  </form>

<script>
  var messageWindow = document.getElementById("outerMessageSpace");
  messageWindow.scrollTop = messageWindow.scrollHeight;
</script>

<script src="~/Scripts/Scripts.js"></script>
