@using Chat.Models;

  @foreach(Message m in Model)
  {
    if(m.SenderId==ViewBag.MyId)
    {
    <p class="sender-mes shadow">@ViewBag.MyName.UserName: @m.Text </p>
    }else
    {
      <p class="reciever-mes shadow">@ViewBag.OtherName.UserName: @m.Text </p>
    }
  }